<div class="timer-vertical-center">
  <div class="timer-container">
    <form (ngSubmit)="startTimer()">
      <ion-item>
        <ion-label>Preparation Time</ion-label>
        <app-time-picker
          [hours]="prepTimeHrs"
          [minutes]="prepTimeMins"
          [seconds]="prepTimeSecs"
          (timeChange)="onPrepTimeChange($event)">
        </app-time-picker>
      </ion-item>

      <!-- Work Time Picker (hrs, mins, secs) -->
      <ion-item>
        <ion-label>Work Time</ion-label>
        <app-time-picker
          [hours]="workTimeHrs"
          [minutes]="workTimeMins"
          [seconds]="workTimeSecs"
          (timeChange)="onWorkTimeChange($event)">
        </app-time-picker>
      </ion-item>

      <ion-item>
        <ion-label>Rest Time</ion-label>
        <app-time-picker
          [hours]="restTimeHrs"
          [minutes]="restTimeMins"
          [seconds]="restTimeSecs"
          (timeChange)="onRestTimeChange($event)">
        </app-time-picker>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Number of Sets</ion-label>
        <ion-input type="number" [(ngModel)]="sets" name="sets"></ion-input>
      </ion-item>
      <ng-container *ngIf="!isRunning && !isPaused">
        <ion-button expand="full" type="submit">Start Timer</ion-button>
      </ng-container>
      <ng-container *ngIf="isRunning">
        <ion-button expand="full" color="warning" type="button" (click)="pauseTimer()">Pause Timer</ion-button>
        <ion-button expand="full" color="danger" type="button" (click)="stopTimer()">Stop Timer</ion-button>
      </ng-container>
      <ng-container *ngIf="isPaused">
        <ion-button expand="full" color="primary" type="button" (click)="resumeTimer()">Resume Timer</ion-button>
        <ion-button expand="full" color="danger" type="button" (click)="stopTimer()">Stop Timer</ion-button>
      </ng-container>
    </form>

    <div *ngIf="currentPhase">
      <h2>{{ currentPhase }}</h2>
      <h1>{{ displayTime }}</h1>
      <p>Set: {{ currentSet }} / {{ sets }}</p>
    </div>
  </div>
</div>
